# Node
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Next
client/.next
client/out

# Nest
server/dist

# Prisma
server/prisma/migrations

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.tar
