@font-face {
  font-family: "Mitr";
  src: url("/font/Mitr-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Mitr";
  src: url("/font/Mitr-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Mitr";
  src: url("/font/Mitr-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mitr";
  src: url("/font/Mitr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Mitr";
  src: url("/font/Mitr-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Mitr";
  src: url("/font/Mitr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "Mitr", system-ui, sans-serif;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
}

[data-bs-theme] {
  font-family: "Mitr", system-ui, sans-serif !important;
  font-weight: 400;
}